@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model TodoItem


<form asp-action="AddItem" method="POST">
    <label>Add a new item:</label>
    <label asp-for="Title">Title</label>
    <input asp-for="Title">
    <label asp-for="Title">Title</label>
    <input asp-for="DueAt" class="datepicker" value="2019-09-14 17:02:36">
    <button type="submit">Add</button>
</form>
