
@{
    ViewData["Title"] = "Index";
}

@model TodoViewModel;
@using Humanizer;
@{
    ViewData["Title"] = "Manage your todo list";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>
        @if (Model != null && Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @*<input type="checkbox" class="done-checkbox">*@
                        <form asp-action="MarkDone" method="post">
                            <input type="checkbox" class="done-checkbox">
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.DueAt.Humanize()</td>
                </tr>
            }
        }


    </table>

    <div class="panel-footer add-item-form">
        <!-- TODO: Add item form -->
        @await Html.PartialAsync("AddItemPartial", new TodoItem())
    </div>
</div>
<style type="text/css">
    div.todo-panel {
        margin-top: 15px;
    }

    table tr.done {
        text-decoration: line-through;
        color: #888;
    }
</style>
<link href="~/lib/jquery-ui-1.12.1/Content/themes/base/datepicker.css" rel="stylesheet" />
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            // Wire up all of the checkboxes to run markCompleted()
            $('.done-checkbox').on('click', function (e) {
                markCompleted(e.target);
            });
        });

        function markCompleted(checkbox) {
            checkbox.disabled = true;

            var row = checkbox.closest('tr');
            $(row).addClass('done');

            var form = checkbox.closest('form');
            form.submit();
        }
    </script>
}
